:root {
    --bg-color: #24273A;
    --text-color: #CAD3F5;
    --border-color: #6E738D;
    --accent-border-color: #CBA6F7;
    --accent-color: #363A4F;
}

@font-face {
    font-family: 'Monaspace';
    src: url('../public/fonts/MonaspaceKrypton-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Monaspace', monospace;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
