:root {
    --bg-color: #24273A; /* Base */
    --text-color: #CAD3F5; /* Text */
    --bright-text-color: #8aadf4; /* Blue */
    --border-color: #6E738D; /* Overlay 0 */
    --accent-border-color: #C6A0F7; /* Mauve */
    --bright-border-color: #939ab7; /* Overlay 2 */
    --accent-color: #363A4F; /* Surface 0 */
}

@font-face {
    font-family: 'Monaspace';
    src: url('../public/fonts/MonaspaceKrypton-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Monaspace', monospace;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    color: var(--bright-text-color);
}

.main-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
